/* -----------------------------------------------------------
BASE STYLING
--------------------------------------------------------------
------------------------------------------------------------*/

body {
	background: linear-gradient( rgb(2, 48, 5), transparent), url(https://images.pexels.com/photos/149131/pexels-photo-149131.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
	 no-repeat center center fixed; 
	background-size: cover;
	box-sizing: border-box;  
}

.text {
	font-family: 'Vollkorn', serif;
}

.color {
	color: rgb(245, 245, 245);
}

.shadow {
	text-shadow: 2px 2px 5px rgb(106, 21, 42);
}

.tranbg {
	background: rgba(216, 193, 161, 0.75);
}

.footer {
	display: block;
	margin-top: 30px;
}


/* -----------------------------------------------------------
HEADER STYLING
--------------------------------------------------------------
------------------------------------------------------------*/

.headerFlex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	width: 80%;
	margin: auto;
}

.headerImg {
	display: block;
	width: 95%;
	height: auto;
	padding: 15px 10px 10px 0;
}

.troopName {
	display: flex;
	margin-top: -20px;
	margin-bottom: 10px;
	text-align: center;
}

/* -----------------------------------------------------------
NAV STYLING
--------------------------------------------------------------
------------------------------------------------------------*/

nav {
	border-radius: 10px;
	margin-top: 30px;
	background: none;
}

.nav-link {
	font-size: 2.9em;
}

.icon {
	font-size: 2em;
}

/* -----------------------------------------------------------
IMGS STYLING
--------------------------------------------------------------
------------------------------------------------------------*/

.rightImg {
	margin-right: 0;
}

.leftImg {
	margin-left: 0;
}

/* -----------------------------------------------------------
QUOTE CARD STYLING
--------------------------------------------------------------
------------------------------------------------------------*/

.card {
	margin-top: 30px;
	padding-top: 1.5em;
}

#quote {
	font-family: 'Homemade Apple', cursive !important;
	background-color: rgb(89, 60, 31, .75);
}

.card-text {
	font-size: 2rem;
}

.card-title {
	font-size: 3rem;
}

/* -----------------------------------------------------------
SIGNUP FORM STYLING
--------------------------------------------------------------
------------------------------------------------------------*/

#formHeader {
	margin-bottom: 20px;
	font-size: 2em;
	text-shadow: 2px 2px 5px rgb(106, 21, 42);
}

.btn {
	border: none;
	margin-top: 15px;
	margin-bottom: 10px;
}

.btn-primary {
	background: rgb(186, 39, 47, 0.75);
	color: #ffffff;
	font-size: 2em;
	text-shadow: 2px 2px 5px rgb(106, 21, 42);
}

/* -----------------------------------------------------------
MEDIA QUERIES
--------------------------------------------------------------
------------------------------------------------------------*/

@media (min-width: 578px) {
	.nav-link {
		font-size: 3em;
	}
	
	.icon {
		font-size: 2em;
	}
}

@media (min-width: 793px) {
	.nav-link {
		font-size: 4em;
	}
	
	.icon {
		font-size: 3em;
	}
}