/* -----------------------------------------------------------
BACKGROUND STYLING
--------------------------------------------------------------
------------------------------------------------------------*/

body {
	background: linear-gradient( rgb(2, 48, 5), transparent), url(https://images.pexels.com/photos/149131/pexels-photo-149131.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
	 no-repeat center center fixed; 
	background-size: cover;
	box-sizing: border-box;  
}

/* -----------------------------------------------------------
HEADER STYLING
--------------------------------------------------------------
------------------------------------------------------------*/

.headerFlex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	width: 80%;
	margin: auto;
}

.headerImg {
	display: block;
	width: 95%;
	height: auto;
	padding: 15px 10px 10px 0;
}

.troopName {
	display: block;
	margin: 0px -20px 10px 0px;
	text-align: center;
	font-family: 'Sura', serif;
	font-size: 4em;
	color: rgb(186, 39, 47);
	text-shadow: 2px 2px 5px rgb(106, 21, 42);
}

/* -----------------------------------------------------------
NAV STYLING
--------------------------------------------------------------
------------------------------------------------------------*/

.navText {
	font-family: 'Vollkorn', serif;
	font-size: 4em;
	color: rgb(245, 245, 245);
}

nav {
	border-radius: 10px;
	margin-top: 30px;
}

.topNavPillborder {
	border-radius: 10px 10px 0 0;
}

/* -----------------------------------------------------------
QUOTE CARD STYLING
--------------------------------------------------------------
------------------------------------------------------------*/

.card {
	margin-top: 30px;
	padding-top: 1.5em;
}

#quote {
	font-family: 'Homemade Apple', cursive !important;
	background-color: rgb(89, 60, 31, .75);
	color: rgb(245, 245, 245);
}

.card-text {
	font-size: 2rem;
}

.card-title {
	font-size: 3rem;
}

/* -----------------------------------------------------------
SIGNUP FORM STYLING
--------------------------------------------------------------
------------------------------------------------------------*/

.cardHeader {
	background-color: rgba(126, 113, 95, 0.55);
}

.inputText {
	font-family: 'Inconsolata', monospace;
	font-size: 3px;
}

.tranbg {
	background: rgba(216, 193, 161, 0.75);
}

button {
	color: rgb(186, 39, 47, 0.75);
}