/* -----------------------------------------------------------
BASE ELEMENT STYLES
------------------------------------------------------------*/
* {
box-sizing: border-box;
}

html {
	background: linear-gradient( #023005, transparent), url(https://images.pexels.com/photos/149131/pexels-photo-149131.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
	 no-repeat center center fixed; 
  	background-size: cover;
}

header {
	background-color: #79060D;
	border: solid #866338 10px;
}

.header_img {
	width: 80%;
	display: block;
	margin: auto;
	padding: -25px 0 -25px 0;
}

header ul a {
	display: block;
	margin: auto;
	text-align: center;
}

.welcome {
	font-family: 'Sura', serif;
	font: 2em #ffffff;
	text-align: center;
	display: block;
}

/*form {
	background-color: rgb(172, 143, 101, 75%);
	width: 80%;
	padding: 5px;
	margin: auto;
	border-radius: 5px 5px 5px 5px;
}*/

.signupbox {
	display: flex;
	flex-direction: column;
	background-color: rgba(216, 193, 161, 0.774);
	border-radius: 10px;
	width: 80%;
	padding: 5px;
	margin: auto;
}

span {
	font-family: 'Roboto Bold', sans-serif;
	font: 30px #ffffff;
}

input {
	display: block;
	height: 5em;
	margin: auto;
	padding-inline-start: none;
	width: 80%;
	background: none;
	border: none;
  	border-bottom: 3px solid #79060D;
}

#placeholder {
	font-family: 'Roboto Bold', sans-serif;
	font: 4em #79060D;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
  }


