/* -----------------------------------------------------------
BASE ELEMENT STYLES
------------------------------------------------------------*/

body {
	background: linear-gradient( #023005, transparent), url(https://images.pexels.com/photos/149131/pexels-photo-149131.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
	 no-repeat center center fixed; 
	background-size: cover;
	box-sizing: border-box;  
}

.headerFlex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	width: 80%;
	margin: auto;
}

.headerImg {
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
}

.fas {
	color: #ba272f;
	font-size: 42px;
	text-shadow: 2px 2px 5px #6c152b;
}

.troopName {
	display: block;
	margin: 0px -20px 10px 0px;
	text-align: center;
	font-family: 'Sura', serif;
	font-size: 3em;
	color: #ba272f;
	text-shadow: 2px 2px 5px #6c152b;
}

nav a {
	background: rgba(216, 193, 161, 0.75);
}

/* .welcome {
	font-family: 'Sura', serif;
	font: 2em #ffffff;
	text-align: center;
	display: block;
} */

/* span {
	font-family: 'Roboto Bold', sans-serif;
} */

/* 
input {
	display: block;
	height: 5em;
	margin: auto;
	padding-inline-start: none;
	width: 80%;
	background: none;
	border: none;
  	border-bottom: 3px solid #79060D;
} */

/* 
.placeholder {
	font-family: 'Roboto Bold', sans-serif;
	font: 4em #79060D;
} */

.clearfix::after {
	content: "";
	clear: both;
	display: table;
  }


